html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../img/journey2.jpg");
  background-size: cover;
  font-family: "Lato", "Verdana", sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  background-color: rgba(0, 0, 0, 0.41);
}
header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.logo:hover {
  color: #3cb878;
}
.icons-plus-login {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icons__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.icons__list .far {
  height: 20px;
  width: 30px;
  margin-right: 25px;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.icons__list .far:hover {
  color: #6ae678;
}

.login-text {
  margin: 0;
  color: white;
  font-size: 16px;
}
.login-text a {
  color: #3cb878;
}

.form {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 65px;
  padding: 30px 60px;
  max-width: 445px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.form::before {
  content: "";
  position: absolute;
  display: block;
  top: 35px;
  left: 0px;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}
.form-heading {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
}
.form-heading #formHead {
  margin: 0;
  color: #434343;
}
.logIn-bg {
  color: #3cb878;
  text-decoration: underline;
}

.social-btns {
  display: flex;
  justify-content: space-between;
}

.social-btns .social-btn {
  height: 50px;
  width: 190px;
  margin-top: 20px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
}

.facebook-btn {
  background-color: #305db8;
  margin-right: 5px;
}

.google-btn {
  background-color: #df4a32;
  margin-left: 5px;
}

.social-btns .fab {
  padding-top: 15px;
  padding-left: 15px;
  text-decoration: none;
  float: left;
  color: white;
}

.social-btns .social-btn,
.webSiteName {
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
  color: #ffffff;
}

.separator {
  display: block;
  position: relative;
  text-align: center;
  color: #848484;
  font-size: 14px;
  margin-bottom: 15px;
}
.separator::before,
.separator::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  content: " ";
  display: block;
  width: 135px;
  height: 1px;
  background-color: #eaeaea;
  opacity: 0.8;
}
.separator::before {
  left: 0;
}
.separator::after {
  right: 0;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.inputs {
  width: 100%;
  padding: 15px 18px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  height: 46px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: margin-bottom 0.4s, margin-top 0.4s;
}
.inputs::placeholder {
  color: #eaeaea;
  font-size: 14px;
}

.inputs:focus,
.inputs:focus,
.inputs:focus {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
  color: black;
  border-color: teal;
}

#gdpr_agree {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#gdpr_agree_id {
  position: relative;
  color: #434343;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}
#termsLink {
  color: #3cb878;
  text-decoration: underline;
  text-underline-position: under;
}
#gdpr_agree_id::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid #bebebe;
}
#gdpr_agree_id::after {
  content: "";
  display: none;
  position: absolute;
  content: " ";
  top: 1px;
  left: -22px;
  width: 5px;
  height: 10px;
  border: solid #3cb878;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#gdpr_agree:checked ~ #gdpr_agree_id::after {
  display: block;
}
#submit {
  color: #ffffff;
  font-size: 16px;
  border-radius: 3px;
  background-color: #3cb878;
  height: 46px;
  outline: none;
  border: none;
  cursor: pointer;
}
#submit:hover {
  background-color: #329a65;
}
